footer.tribe-footer
  > div:first-child
    height: 100px
    background-color: rgb(24, 25, 27)
  > div:last-child
    background-color: black
    color: lighten(gray, 10)
    font-size: .8em
    text-align: center
    padding: 10px 5px 10px 5px