@import "variables"
@import "section_social"

footer.tribe-footer
  a
    text-decoration: none
    color: $tomitribe-white
    &:hover
      text-decoration: underline
  > div:first-child
    padding: 10px
    height: 150px
    background-color: $tomitribe-footer-header-background-color
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-around

  > div:last-child
    height: 70px
    background-color: #000000
    color: $tomitribe-white
    font-size: .8em
    text-align: center
    flex-direction: column
    justify-content: center
    align-items: center
    display: flex
    padding: 0 10px 0 10px

