section.tribe-projects
  background-color: rgb(247, 247, 247)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding-left: 10px
  padding-right: 10px
  > div:first-child
    max-width: 954px
    padding-top: 20px
    padding-bottom: 20px
    > h1
      text-transform: uppercase
  > div:nth-child(2)
    display: flex
    justify-content: center
    align-items: center
    > i
      font-size: 2em
      color: rgb(212, 216, 219)
      transition: color .2s
      &:hover
        cursor: pointer
        color: black

    > div.tribe-projects-caroussel
      display: flex
      flex-wrap: wrap
      height: 290px
      overflow: hidden
      justify-content: center
      article
        margin: 5px
        width: 290px
        height: 280px
        background-color: white
        > div.tribe-project-title
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          width: 100%
          height: 100%
          > div
            background-color: rgb(212, 216, 219)
            flex-grow: 1
            width: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            > i
              zoom: 0.30
          > h3
            text-transform: uppercase
            padding: 10px 0 0 15px
            width: 100%
            height: 50px

        > div.tribe-project-short-descr
          display: none
          background-color: rgb(231, 114, 37)
          width: 100%
          height: 100%
          > img
            zoom: 0.30
            border: 0
            margin: 15px 0 15px 15px
          > div.space
            border: solid white 1px
            margin: 0 0 0 15px
            width: 100px
          > div.text
            color: white
            font-size: 10px
            height: 180px
            margin: 15px 15px 15px 15px
            overflow: hidden

        &:hover
          > div:first-child
            display: none
          > div:nth-child(2)
            display: block
