@import "variables"

$padding: 10px
section.tribe-about-tomitribe
  padding: (6 * $padding) (2 * 6 * $padding) (6 * $padding) (2 * 6 * $padding)
  display: flex
  justify-content: center
  > div.tribe-about-images
    padding-right: 10px
    > img
      width: 500px
      height: auto
  > div.tribe-about-text
    max-width: 500px
    > h1
      font-size: 15px
      padding-bottom: 15px
    > p
      font-size: 12px
      padding-bottom: 10px
      &:last-child
        padding-bottom: 0

  @media (max-width: 1220px)
    flex-wrap: wrap
    > div.tribe-about-text
      > h1
        padding-top: 15px

  @media (max-width: 700px)
    padding: $padding (2 * $padding) $padding (2 * $padding)
    > div.tribe-about-images
      > img
        max-width: 100%

  @media (max-width: 400px)
    padding: $padding
