section.tribe-twitter-updates
  background-image: url("../images/twitter-bg.jpg")
  color: white
  > div
    width: 100%
    flex-direction: column
    justify-content: center
    align-items: center
    display: flex
    > div.tribe-section-separator
      margin: 60px 0 30px 0
      border-color: white
    > h1
      text-transform: uppercase
      text-align: center
      margin: 0 0 50px 0
    > div.tribe-tweet
      flex-direction: column
      justify-content: center
      align-items: center
      display: flex
      padding-left: 20px
      padding-right: 20px
      > p
        text-align: center
      > a
        text-decoration: none
        color: white
      > p.tribe-date
        font-size: 10px
        margin: 20px 0 20px 0
    div.tribe-arrows
      margin: 0 0 60px 0
      i:first-child
        padding-right: 5px
      i
        font-weight: 100
        &:hover
          cursor: pointer

