@import "base"
@import "main_header"

div.tribe-section-separator
  width: 100px
  border: solid gray 1px

div.tribe-main-content
  > section
    > h1
      padding: 0 0 10px 0
      text-transform: uppercase
      font-weight: 300
      span
        font-weight: bold

@import "main_projects_carousel"
@import "main_project_highlight"
@import "main_os_quotes"
@import "main_twitter_updates"
@import "footer"

@import "projects"
@import "project_details"