@import "base"
@import "main_header"

div.tribe-section-separator
  width: 100px
  border: solid gray 1px
  margin: 5px 0 5px 0

div.tribe-main-content
  > section
    > h1
      padding: 0 0 10px 0
      text-transform: uppercase
      font-weight: 300
      span
        font-weight: bold

@import "main_projects_carousel"
@import "main_os_quotes"
@import "main_twitter_updates"

footer
  background-color: black
  color: lighten(gray, 10)
  font-size: .8em
  text-align: center
  padding: 10px 5px 10px 5px
