header
    .tribe-logo
        a(href=".").tribe-icon.tribe-icon-images-sprite_tomi-opensource-logo
        include section-menu
    .tribe-contributors-title
        div
        h1 the contributors
        h2.
            Praesent non est lectus. Vestibulum nec pharetra diam, ut fermentum est. Duis vulputate,
            turpis eu feugiat blandit, massa metus mattis lectus, sit amet ornare lacus lacus quis risus.