header
    a(href=".").tribe-icon.tribe-icon-images-sprite_tomi-opensource-logo
    .tribe-project-name
        div
        h1 the contributors
        p.
            Praesent non est lectus. Vestibulum nec pharetra diam, ut fermentum est. Duis vulputate,
            turpis eu feugiat blandit, massa metus mattis lectus, sit amet ornare lacus lacus quis risus.