header
    .tribe-logo
        a(href=".").tribe-icon.tribe-icon-images-sprite_tomi-opensource-logo
        include section-menu
    .tribe-title
        div
        h1 three columns projects grid
        h2 Proin sed ante lacinia, tristique mauris a, dignissim tellus. Pellentesque a nulla sed mauris blandit gravida. In eget diam semper, cursus elit pulvinar, commodo ligula.