div.tribe-home
    header
        div
            div(class="tribe-header-image", ng-controller="HeaderImageController")
            a(href=".").tribe-icon.tribe-icon-images-sprite_tomi-opensource-logo
            section.tribe-page-title
                h1 Welcome to the #[span Tomitribe Community]
                h4 A trove of tribe tools & projects for your java applications
    .tribe-main-content
        ng-include(src="'app/main-projects-carousel.html'")
        ng-include(src="'app/main-project-highlight.html'")
        ng-include(src="'app/main-twitter-updates.html'")
        ng-include(src="'app/main-os-quotes.html'")
    ng-include(src="'app/footer.html'")
