section.tribe-os-quotes
    div
        .tribe-section-separator
        h1 What people say about open source
        p.
            Aenean auctor a ligula nec ultrices. Aliquam mattis orci non nisi interdum tempor ut id odio. Etiam accumsan
            tempor ante. Maecenas varius neque diam, lacinia blandit turpis fermentum ac.
    .tribe-os-quotes
        article
            img(src="//placehold.it/350x350")
            h3 Michael Connor
            h4 Company Name
            blockquote Sed consectetur, velit eu mollis porta, nulla purus ullamcorper lectus, sed porta leo tellus commodo nisi. Nulla euismod mauris eget magna mattis gravida.
        article
            img(src="//placehold.it/350x350")
            h3 Robert Doe
            h4 Company Name
            blockquote Praesent fringilla nisl vel tortor faucibus, ut efficitur diam auctor. Praesent consectetur congue tempor.
        article
            img(src="//placehold.it/350x350")
            h3 Luis Wickham
            h4 Company Name
            blockquote Maecenas nec tellus ante. Aliquam efficitur lorem et sapien lacinia maximus. Morbi sit amet nisl justo. Nunc sed ex consequat, aliquam diam sed, rutrum urna. Donec nec auctor diam.