div(ng-controller="ProjectsController", class="tribe-all-projects")
    include header-projects
    section
        article(ng-repeat="project in projects")
            div
                img(src="{{project.icon}}")
            div
                h3 {{project.friendlyName ? project.friendlyName : project.name}}
                p {{project.shortDescription}}
            div
                a(href="projects/{{project.name}}") check it out
include footer
