div(ng-controller="ProjectDetailsController")
    header
        h1 {{project.name}}
    section.tribe-project-details
        div(ng-bind-html="project.documentation", class="content")
    ng-include(src="'app/footer.html'")
