div(ng-controller="ProjectsController", class="tribe-all-projects")
    header
        a(href=".").tribe-icon.tribe-icon-images-sprite_tomi-opensource-logo
        .tribe-title
            div
            h1 projects
    section
        article(ng-repeat="project in projects")
            div
                img(src="{{project.icon}}")
            div
                h3 {{project.friendlyName ? project.friendlyName : project.name}}
                p {{project.shortDescription}}
            div
                a(href="project-details/{{project.name}}") check it out
    ng-include(src="'app/footer.html'")
