div(ng-controller="ProjectDetailsController", class="tribe-project-details")
    header
        a(href=".").tribe-icon.tribe-icon-images-sprite_tomi-opensource-logo
        .tribe-project-name
            div
                img(src="{{project.icon}}")
            h1 {{project.friendlyName ? project.friendlyName : project.name}}
            p {{project.shortDescription}}
    section
        div(ng-bind-html="project.documentation", class="tribe-content", prism)
        .tribe-sidebar
            .tribe-contributors
                h4 Cool people that helped make this happen
                .tribe-contributors-list
                    a(ng-repeat="contributor in project.contributors", href="https://github.com/{{contributor.login}}/")
                        img(src="{{contributor.avatarUrl}}")
            .tribe-other-projects
                h4 Other projects
                article(ng-repeat="project in otherProjects")
                    a(href="project-details/{{project.name}}")
                        img(src="{{project.icon}}")
                        div
                            h4 {{project.friendlyName ? project.friendlyName : project.name}}
                            p {{project.shortDescription}}
    ng-include(src="'app/footer.html'")
