section(ng-controller="ProjectsCarousselController", class="tribe-projects")
    div
        .tribe-section-separator
        h1 Project carousel
        p.
            Aenean auctor a ligula nec ultrices. Aliquam mattis orci non nisi interdum tempor ut id odio. Etiam accumsan
            tempor ante. Maecenas varius neque diam, lacinia blandit turpis fermentum ac.
    div
        i.tribe-left.fa.fa-lg.fa-arrow-circle-o-left
        div.tribe-projects-caroussel
            article
                div.tribe-project-title
                    div
                        i.icon.icon-images-sprite_Icon_cloud_lock
                    h3 Crest
                div.tribe-project-short-descr
                    img.icon.icon-images-sprite_Icon_cloud_lock
                    div.space
                    div.text
                        p Simplifies Java command-line tool writing with built-in Command-registration, help text and validation.
            article
                div.tribe-project-title
                    div
                        i.icon.icon-images-sprite_Icon_diamond
                    h3 http-signatures-java
                div.tribe-project-short-descr
                    img.icon.icon-images-sprite_Icon_diamond
                    div.space
                    div.text
                        p.
                            Provides a secure and reliable mechanism to digitally sign a HTTP message which verifies
                            sender identification and message integrity.
            article
                div.tribe-project-title
                    div
                        i.icon.icon-images-sprite_Icon_eye_gear
                    h3 Hodao
                div.tribe-project-short-descr
                    img.icon.icon-images-sprite_Icon_eye_gear
                    div.space
                    div.text
                        p.
                            Provides helpful libraries for Data Access Object (DAO) persistence code; inspired by the
                            Apache TomEE abstract-bean concept.
                            Provides helpful libraries for Data Access Object (DAO) persistence code; inspired by the
                            Apache TomEE abstract-bean concept.
                            Provides helpful libraries for Data Access Object (DAO) persistence code; inspired by the
                            Apache TomEE abstract-bean concept.
                            Provides helpful libraries for Data Access Object (DAO) persistence code; inspired by the
                            Apache TomEE abstract-bean concept.
        i.tribe-left.fa.fa-lg.fa-arrow-circle-o-right