section.tribe-about-tomitribe
    .tribe-about-images
        img(src="//placehold.it/800X600")
    .tribe-about-text
        :marked
            About Tomitribe
            ===============

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula tellus quis justo malesuada viverra.
            Morbi in tortor vel nisi dictum venenatis. Morbi eget nunc sed nisi congue varius eget ut velit. Integer
            auctor a magna sed convallis. Duis molestie dignissim ligula, non vehicula leo pellentesque et. Mauris at
            mattis felis. Donec augue diam, porttitor in nibh sed, imperdiet volutpat mi. Donec consectetur urna quis mi
            pellentesque, at eleifend justo auctor. Nullam volutpat elit sed ligula vestibulum, et porta massa vestibulum.
            Quisque id elit enim.

            Fusce elementum dolor faucibus cursus tempor. Aliquam vel nibh vestibulum, convallis dui ac, finibus sapien.
            Nunc dapibus arcu id rutrum suscipit. Nulla facilisi. Proin tempus, neque a ullamcorper volutpat, metus neque
            ultrices ligula, a tempor nulla mauris vestibulum purus. Phasellus a varius nunc. Aliquam ligula ligula, tempus
            quis auctor ac, dignissim eget massa. Donec sollicitudin libero ut felis accumsan gravida. Maecenas sagittis
            risus nisl, a elementum leo commodo non.

            Vestibulum molestie, est sed suscipit viverra, arcu mi sodales sem, vel dictum justo massa at felis. Nunc lacinia
            vitae dolor eget pellentesque. Donec fermentum urna sed risus tristique, eget accumsan diam posuere. Sed at mi
            ultrices, posuere ante a, sagittis elit. Cras iaculis diam nulla, in lobortis dolor commodo id. Sed molestie non
            eros sit amet suscipit. Vivamus sollicitudin sodales ipsum, et mollis metus ultrices et. Curabitur eget magna
            facilisis, tristique massa et, finibus ex. Nulla aliquam neque in orci lacinia mollis. Pellentesque mattis non
            justo maximus tempus.