section.tribe-os-quotes
    div
        .tribe-section-separator
        h1 What people say about open source
        p.
            Aenean auctor a ligula nec ultrices. Aliquam mattis orci non nisi interdum tempor ut id odio. Etiam accumsan
            tempor ante. Maecenas varius neque diam, lacinia blandit turpis fermentum ac.
    .tribe-os-quotes
        article
            h3 Luca Merolla
            blockquote TomEE is really a really value added to our team. We've started to play with OpenEJB and Tomcat a couple of years ago and in 2012, TomEE, became our reference application server. Community support is amazing! Keep up the good work!.
        article
            h3 Jörg Jans
            blockquote Shortly after the release of TomEE 1.0 one of our programmers took a look into it and tried to migrate the project. The farther he went the greater was his enthusiasm. "This is so easy!".
        article
            h3 Jacek Laskowski
            blockquote "#TomEE rocks!" Could you hear that? It looks like #JavaEE grew up and #SpringFramework might not be the only viable option. There're others and they're "insanely fast"!﻿
        article
            h3 Ryan McGuinness
            blockquote Running TomEE embedded with Hibernate and PrimeFaces+Apache TomEE  is perhaps one of the best, leanest implementations of Java EE 6, with Java EE 7 on the horizon.