section.tribe-social
    h1 we are social on
    div
        a(href="https://www.facebook.com/Tomitribe")
            i.fa.fa-facebook
        a(href="https://www.linkedin.com/company/tomitribe")
            i.fa.fa-linkedin
        a(href="https://twitter.com/tomitribe")
            i.fa.fa-twitter
