section.tribe-os-quotes
    div
        .tribe-section-separator
        h1 What people say about open source
        p.
            Aenean auctor a ligula nec ultrices. Aliquam mattis orci non nisi interdum tempor ut id odio. Etiam accumsan
            tempor ante. Maecenas varius neque diam, lacinia blandit turpis fermentum ac.
    .tribe-os-quotes
        article
            div
                img(src="app/images/headshots/sprite_luca-merolla.jpg")
            h3 Luca Merolla
            h4 Merolla Consulting Limited
            blockquote.
                TomEE is really a really value added to our team. We've started to play with OpenEJB and Tomcat a
                couple of years ago and in 2012, TomEE, became our reference application server. Community support
                is amazing! Keep up the good work!.
        article
            div
                img(src="app/images/headshots/sprite_jorg-jans.jpg")
            h3 Jörg Jans
            h4 Geyer & Weinig EDV-Unternehmensberatung GmbH
            blockquote.
                Shortly after the release of TomEE 1.0 one of our programmers took a look into it and tried to
                migrate the project. The farther he went the greater was his enthusiasm. "This is so easy!".
        article
            div
                img(src="app/images/headshots/sprite_jacek-laskowski.jpg")
            h3 Jacek Laskowski
            h4 Citigroup
            blockquote.
                "#TomEE rocks!" Could you hear that? It looks like #JavaEE grew up and #SpringFramework might not be
                the only viable option. There're others and they're "insanely fast"!﻿
        article
            div
                img(src="app/images/headshots/sprite_ryan-mcginnis.jpg")
            h3 Ryan McGuinness
            h4 Walmartlabs
            blockquote.
                Running TomEE embedded with Hibernate and PrimeFaces+Apache TomEE  is perhaps one of the best, leanest
                implementations of Java EE 6, with Java EE 7 on the horizon.