section(class="tribe-twitter-updates", ng-controller="TwitterUpdatesController")
    div
        .tribe-section-separator
        h1 Twitter latest updates
        .tribe-tweet
            p {{tweet.text}}
            a(href="https://twitter.com/{{tweet.author}}") @{{tweet.author}}
            p.tribe-date {{tweet.timestamp | date:'MMM yyyy'}} @TOMITRIBE
        .tribe-arrows
            i.tribe-left.fa.fa-arrow-circle-o-left
            i.tribe-right.fa.fa-arrow-circle-o-right
