section(ng-controller="ProjectHighlightController", class="tribe-project-highlight")
    .tribe-background
        .tribe-layer
    .tribe-project-highlight-content
        .tribe-project-highlight-image
            img(src="{{highligtedProject.snapshot}}")
        .tribe-cms
            .tribe-title
                div
                    img(src="{{highligtedProject.icon}}")
                h2 {{highligtedProject.friendlyName ? highligtedProject.friendlyName : highligtedProject.name}}
            div(ng-bind-html="highligtedProject.description", class="tribe-content", prism)
            .tribe-buttons
                a(href="projects/{{highligtedProject.name}}") Learn more
                a(href="projects") All projects
