section.tribe-contributors-numbers
    .tribe-contributors-number
        p 316
        div
        p asf projects
    .tribe-contributors-number
        p 215
        div
        p java projects
    .tribe-contributors-number
        p 2011
        div
        p year
    .tribe-contributors-number
        p 46
        div
        p tomee

    .tribe-contributors-number
        p 08
        div
        p countries