div
  .contributors
    h1 Cool people that helped make this happen
    div
      eeio-contributor-summary(ng-repeat="contributor in project.detail.contributors", login="contributor.login")
  .content(ng-bind-html="project.doc")
