eeio-header.home
  h1 Curabitur ullamcorper in arcu in hendrerit
  p Duis aliquam arcu sed felis congue aliquet. Maecenas ullamcorper lacus bibendum vulputate interdum.
.page-body.home
  div
    eeio-projects-shortlist
  div
    eeio-googlegroups-shortlist
  div
    eeio-twitter-shortlist
eeio-footer
