@import "variables"

eeio-header
  > div
    width: 100%
    background: url(../images/header_home.jpg) no-repeat center center fixed
    background-size: cover
    display: flex
    flex-direction: column
    > div
      &.title
        min-height: 300px
        flex-grow: 1
        display: flex
        flex-direction: column
        justify-content: center
        padding: 0 80px 40px 80px
        *
          color: $app-white
          font-weight: 100
      &.head
        flex-shrink: 0
        display: flex
        justify-content: space-between
        align-items: center
        padding: 40px
        > a
          > img
            width: 250px
            height: auto
        > ul
          list-style: none
          > li
            display: inline
            margin-left: 10px
            > a
              text-transform: uppercase
              font-size: $app-menu-font-size
              color: $app-white
