@import "variables"

eeio-header
  > div
    width: 100%
    background: url(../images/header_home.jpg) no-repeat center center fixed
    background-size: cover
    > div.head
      display: flex
      justify-content: space-between
      align-items: center
      padding: 40px
      > a
        > img
          width: 250px
          height: auto
      > ul
        list-style: none
        > li
          display: inline
          margin-left: 10px
          > a
            text-decoration: none
            text-transform: uppercase
            font-size: $app-menu-font-size
            &:hover
              color: $app-hover-color


