@import "variables"

eeio-header
  > div
    width: 100%
    min-height: 300px
    > div.head
      display: flex
      justify-content: space-between
      align-items: center
      padding: 40px
      > a
        > img
          width: 250px
          height: auto
      > ul
        list-style: none
        > li
          display: inline
          margin-left: 10px
          > a
            text-decoration: none


