@import "variables"

eeio-project-doc
  > div
    background-color: #f1f4f6
    $padding: 40px
    padding: $padding
    display: flex
    flex-direction: row-reverse
    > div.contributors
      width: 320px
      flex-shrink: 0
      margin-left: $padding
      $margin: 2px
      img
        margin: $margin
      > h1
        margin: 0 $margin 10px $margin
        font-size: 15px
        font-weight: 100

    > div.content
      background-color: #ffffff
      padding: $padding
      flex-grow: 1

