div.javaee-footer-legal
    p.
        Copyright © 2016 #[a(href="http://javaee.io/") Java EE Community Contributors].  All Rights Reserved.
        #[a(href="http://javaee.io/legal/community-terms-of-use/") Community Terms of Service],
        #[a(href="http://javaee.io/legal/website-terms-of-service/") Terms of Service] and
        #[a(href="http://javaee.io/legal/privacy-policy/") Privacy Policy].
    div(data-javaee-scroll-to-top)
        i.fa.fa-chevron-up.fa-1
        span back to top
