footer.tribe-footer
    div
        a(href=".").tribe-icon.tribe-icon-images-sprite_tomi-opensource-logo
        include section-menu
        include section-social
    div
        p.
            Copyright © 2015 #[a(href="http://www.tomitribe.com/") Tomitribe].  All Rights Reserved.
            #[a(href="http://www.tomitribe.com/legal/community-terms-of-use/") Community Terms of Service],
            #[a(href="http://www.tomitribe.com/legal/website-terms-of-service/") Terms of Service] and
            #[a(href="http://www.tomitribe.com/legal/privacy-policy/") Privacy Policy].
        div(data-tribe-scroll-to-top)
            i.fa.fa-chevron-up.fa-1
            span back to top
