header
    .tribe-logo
        a(href=".").icon-sprite_tomi-opensource-logo
        include section-menu
    .tribe-contributors-title
        div
        h1 CONTRIBUTORS, HACKERS... WHATEVER YOU CALL THEM, THEY’RE COOL PEOPLE
        h2.
            Meet the community guys and gals we call contributors. These are the awesome people who bring life to
            the code you see here and elsewhere in the Open Source world.