header
    .tribe-project-name
        img(ng-src="data:image/png;base64,{{project.icon}}")
        div
            h1 {{project.friendlyName ? project.friendlyName : project.name}}
            p {{project.shortDescription}}
