header
    .tribe-logo
        a(href=".").icon-sprite_tomi-opensource-logo
        include section-menu
    .tribe-title
        div
        h1 OPEN SOURCE & JAVA EE GOODNESS
        h2 Bringing you innovations that span the gamit of testing tools, plain Java SE fun and Java EE goodness. Each project crafted with love by passionate contributors around the world.