header
    div
        div(class="tribe-header-image", ng-controller="HeaderImageController")
        .tribe-logo
            a(href=".").icon-sprite_tomi-opensource-logo
            include section-menu
        section.tribe-page-title
            h1 Welcome to the
            h1 #[span Tomitribe Community]
            h4 A trove of tribe tools & projects for your java applications