header
    div
        div(class="javaee-header-image", ng-controller="HeaderImageController")
        .javaee-logo
            a(href=".").icon-sprite_javaee-guardians-logo
            include section-menu
        section.javaee-page-title
            h1 Welcome to the
            h1 #[span Java EE Guardians Community]
            h4 A community comprised of individuals acting on behalf of the greater good of Java EE