div(ng-controller="ProjectDetailsController", class="tribe-project-details")
    include header-project-details
    section
        div(ng-bind-html="project.documentation", class="tribe-content")
        .tribe-sidebar
            .tribe-releases
                h4 releases & documentation
                div.tribe-releases
                    table
                        tbody
                            tr
                                th release
                                th doc
                            tr(ng-repeat="tag in project.tags")
                                td {{tag}}
                                td
                                    a(href="https://github.com/tomitribe/{{project.name}}/tree/{{tag}}") ref
                div.tribe-separator
                    div
                div.tribe-github-links
                    a(href="/projects/documentation/{{project.name}}") doc
                    span ,
                    a(href="https://github.com/tomitribe/{{project.name}}") source code
                    span.tribe-and and
                    a(href="https://github.com/tomitribe/{{project.name}}/issues") issue tracker
            div(ng-bind-html="project.toc", class="tribe-content-toc", ng-show="project.toc")
            .tribe-contributors
                h4 Cool people that helped make this happen
                .tribe-contributors-list
                    a(ng-repeat="contributor in project.contributors", href="https://github.com/{{contributor.login}}/")
                        img(ng-src="{{contributor.avatarUrl}}")
            .tribe-other-projects
                h4 Other projects
                article(ng-repeat="project in otherProjects")
                    a(href="projects/{{project.name}}")
                        img(ng-src="data:image/png;base64,{{project.icon}}")
                        div
                            h4 {{project.friendlyName ? project.friendlyName : project.name}}
            include section-share-with-friends
include footer
