div(ng-controller="ProjectLongDocumentationController", class="javaee-project-documentation")
    include header-project-documentation
    section(ng-hide="longDocumentation", class="javaee-no-long-doc")
        p No detailed documentation available for this project.
    section(ng-show="longDocumentation")
        div
            div(class="javaee-toc", ng-show="toc")
                div
                    h1 Table of Contents
                    div
                        div(ng-bind-html="toc")
            .javaee-content
                div(ng-bind-html="longDocumentation")
