div(ng-controller="ProjectsController", class="tribe-all-projects")
    include header-projects
    div
        section
            article(ng-repeat="project in projects")
                .tribe-project-icon
                    a(href="projects/{{project.name}}")
                        img(ng-src="data:image/png;base64,{{project.icon}}")
                .tribe-project-short-description
                    a(href="projects/{{project.name}}")
                        h3 {{project.friendlyName ? project.friendlyName : project.name}}
                        p {{project.shortDescription}}
                .tribe-project-buttons
                    div
                    div
                        a(href="projects/{{project.name}}") check it out
                        .tribe-project-share
                            h5 share it
                            div
                                i(tribe-share-project="twitter")
                                    i.fa.fa-twitter
                                i(tribe-share-project="facebook")
                                    i.fa.fa-facebook



include footer
