div(ng-controller="ProjectLongDocumentationController", class="tribe-project-documentation")
    include header-project-documentation
    section
        div(ng-bind-html="longDocumentation", class="tribe-content")
    include footer_legal
