div(ng-controller="ProjectLongDocumentationController", class="tribe-project-documentation")
    include header-project-documentation
    section
        div
            .tribe-toc
                div
                    h1 Table of Contents
                    div
                        div(ng-bind-html="toc")
            .tribe-content
                div(ng-bind-html="longDocumentation")
