section.tribe-about-tomitribe
    div(class="tribe-about-images", ng-controller="ContributorsPicturesController")
        .tribe-picture
        .tribe-thumbnails
            div(ng-repeat="pic in pictures", style="background-image: url(rest/images/about/small_{{pic}})", ng-click="changePicture(pic)")

    .tribe-about-text
        div
        :marked
            About Tomitribe
            ===============

            A proud and innovative leader of sustainable Open Source technology. Tomitribe provides enterprise and
            development support, professional services and training for Apache Tomcat and TomEE. An all Apache stack product,
            TomEE combines Tomcat’s simplicity with Java EE’s power to deliver a high performance and free open source
            application server under the Apache license. TomEE makes it easy to install, build and deploy enterprise
            level applications minus the extraneous complexities. Tomitribe delivers commercial enterprise services
            while enriching the Open Source community in code and spirit.
