section.tribe-menu
    div
        .tribe-collapsed-menu
            i.fa.fa-bars
        ul
            li
                a(href="projects/") projects
            li
                a(href="contributors/") contributors
            li
                a(href="http://www.tomitribe.com") sponsor
