section.javaee-menu
    div
        .javaee-collapsed-menu
            i.fa.fa-bars
        ul
            li
                a(href="projects/") projects
            li
                a(href="contributors/") contributors
