section(class="javaee-twitter-updates", ng-controller="TwitterUpdatesController")
    div
        .javaee-section-separator
        h1 Twitter latest updates
        .javaee-tweet
            .javaee-tweet-text
                p {{tweet.text}}
            a(href="https://twitter.com/{{tweet.author}}") @{{tweet.author}}
            p.javaee-date {{tweet.timestamp | date:'MMM yyyy'}}
        .javaee-arrows
            div(class="icon-sprite_arrow", ng-click="onClick('left')")
            div(class="icon-sprite_arrow javaee-right", ng-click="onClick()")
