section.javaaee-about-community
    div(class="javaee-about-images", ng-controller="ContributorsPicturesController")
        .javaee-picture
        .javaee-thumbnails
            div(ng-repeat="pic in pictures", style="background-image: url(rest/images/about/small_{{pic}})", ng-click="changePicture(pic)")

    .javaee-about-text
        div
        :marked
            About Java EE Community
            ===============

            TODO
