section(ng-controller="ProjectsCarousselController", class="tribe-projects")
    div
        .tribe-section-separator
        h1 BECAUSE THAT'S WHAT WE DO
        p.
            A community dedicated to uniting developers and neat tools to promote a healthy ecosystem around Apache
            TomEE, Java EE and Java Open Source in general.
    div(data-tribe-projects-carousel)
        div(class="icon-sprite_arrow")
        .tribe-projects-caroussel
            div
                article(ng-repeat="project in projects")
                    a(href="projects/{{project.name}}")
                        div
                            img(ng-src="data:image/png;base64,{{project.icon}}")
                        h3 {{project.friendlyName ? project.friendlyName : project.name}}
                        p {{project.shortDescription}}
        div(class="icon-sprite_arrow tribe-right")
    a(href="projects") see all projects