section.tribe-os-quotes
    div
        .tribe-section-separator
        h1 HEAR IT DIRECTLY FROM THE SOURCE
        p.
            The community makes Open Source easy and better for developers. Join in on the fun and share your
            enthusiasm!
    .tribe-os-quotes
        article
            div
                img(src="app/images/headshots/sprite_luca-merolla.jpg")
            h3 Luca Merolla
            h4 Merolla Consulting Limited
            blockquote.
                TomEE is really a really value added to our team. We started to play with OpenEJB and Tomcat a
                couple of years ago and in 2012, TomEE, became our reference application server. Community support
                is amazing! Keep up the good work!.
        article
            div
                img(src="app/images/headshots/sprite_jorg-jans.jpg")
            h3 Jörg Jans
            h4 Geyer & Weinig EDV-Unternehmensberatung GmbH
            blockquote.
                Shortly after the release of TomEE 1.0 one of our programmers took a look into it and tried to
                migrate the project. The farther he went the greater was his enthusiasm. "This is so easy!".
        article
            div
                img(src="app/images/headshots/sprite_ryan-mcginnis.jpg")
            h3 Ryan McGuinness
            h4 Walmartlabs
            blockquote.
                Running TomEE embedded with Hibernate and PrimeFaces+Apache TomEE  is perhaps one of the best, leanest
                implementations of Java EE 6, with Java EE 7 on the horizon.