.tribe-project-share
    div
        h1 Like what you are reading?
        h2 Spread the love and share with some friends
    div
        a
            i.fa.fa-twitter
            span Twitter
        a
            i.fa.fa-facebook
            span Facebook
